html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header {
  background-color: #2196f3 ;
  color: white;
  padding: 2rem 0;
}
#title {
  font-family: 'Supermercado One', cursive;
  text-align: center;
}

